.home-section {
    width: 100vw;
    padding: 70px;
    background-color: #fff;
}

.home-section.front-section {
    padding: 0 70px;
    background-color: rgba(0,0,0,0);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.front-section .wrapper {
    flex-direction: row;
}

.home-custom-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* margin-left: 40px; */
}

.horizontal-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.front-section .logo {
    height: 30px;
    width: 60px;
}

.soceity-name {
    font-size: 26px;
}

.college-name {
    font-size: 18px;
    color: #656C73;
}

.front-section .soceity-info {
    width: 70%;
    font-size: 18px;
    color: #929292;
}

.front-section a.lets-connect-button {
    display: grid;
    place-items: center;
    color: #4285F4;
    border: 1px solid #4285F4;
    height: 34px;
    width: 120px;
    font-size: 14px;
    font-weight: 400;
}

.home-section .heading {
    position: relative;
    font-size: 34px;
    font-weight: 500;
}

.wwd-section .heading::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    height: 1px;
    width: 80px;
    background-color: black;
    transform: translateX(-50%);
}

.home-section lottie-player {
    width: 60%;
    height: 100%;
}

.wwd-section .heading {
    margin-bottom: 50px;
}

.home-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px 50px;
    border-radius: 5px;
}

.wwd-section .home-card {
    align-items: center;
}

.wwd-section .home-card img {
    width: 60px;
    height: 60px;
}

.wwd-section .home-card .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.wwd-section .home-card .content {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.efp-section .home-card {
    padding: 20px;
    border: 1px solid rgb(231, 231, 231);
}

.efp-section .home-card img {
    height: 190px;
    object-fit: cover;
}

.efp-section .home-card .title {
    font-size: 22px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 5px;
}

.efp-section .home-card .content {
    font-size: 16px;
    color: #929292
}

.efp-section .home-card .arrow {
    font-size: 30px;
    color:rgb(0, 81, 255);
    align-self: flex-end;
    margin: 0 10px;
    cursor: pointer;
}
/* 
.contacts-section {
    padding-top: 0;
} */

.contacts-section .info {
    font-size: 18px;
    text-align: center;
}

.contacts-section .icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 30px;
    width: 200px;
    font-size: 25px;
    margin: 20px 0;
    color: #4285F4;
}

.contacts-section .icons * {
    cursor: pointer;
}

.home-section.events-section {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.home-section.events-section .wrapper {
    position: relative;
    flex-direction: row;
    padding: 70px;
    background-color: #F8F8F8;
}

.home-triangle-box {
    position: absolute;
    top: 0;
    border-top: 125px solid white;
    border-left: 100vw solid transparent;
}

.home-events-inner-container {
    display: flex;
    margin-left: 30px;
}

.events-section .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.events-section .title {
    font-size: 32px;
}

.events-section .info {
    font-size: 18px;
    width: 50%;
    color: #505050;
}

a.home-know-more-btn {
    display: grid;
    place-items: center;
    height: 38px;
    width: 150px;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
}

.home-events-host {
    font-size: 18px;
    color: #505050;
}

.home-events-host a {
    color: #505050;
    text-decoration: underline;
    cursor: pointer;
}

.home-events-image {
    position: absolute;
    bottom: -70px;
    right: 100px;
    z-index: 1;
    height: 480px;
    width: 480px;
}

@media screen and (max-width: 1100px) {
    .front-section .wrapper {
        justify-content: center;
    }
    .front-section .home-custom-container > .horizontal-container {
        flex-direction: column;
        text-align: center;
    }
    .front-section .home-custom-container {
        align-items: center;
        margin-left: 0;
    }
    .front-section .soceity-info {
        text-align: center;
    }
    .front-section lottie-player {
        display: none;
    }
    .home-section.front-section {
        padding: 70px 0;
    }
    .home-events-image {
        height: 400px;
        width: 400px;
        bottom: 0;
    }
}

@media screen and (max-width: 900px) {
    .home-triangle-box {
        display: none;
    }
    .info {
        width: 100%;
    }
    .home-events-image {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .home-section {
        padding-left: 0;
        padding-right: 0;
    }
    .front-section .soceity-info {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .wwd-section .heading {
        font-size: 26px;
        margin: 0;
    }
    .home-section.wwd-section div.content {
        font-size: 16px;
    }
    .front-section .soceity-name {
        font-size: 20px;
    }
    .front-section .college-name {
        font-size: 14px;
    }
    .home-section .home-card {
        width: 250px;
        margin-left: 0;
        margin-right: 0;
    }
    .contacts-section .heading {
        font-size: 30px;
    }
    .contacts-section .info {
        font-size: 16px;
    }
}