.home-section {
    width: 100vw;
    background-color: #fff;
    padding: 70px;
    padding-inline: 100px;
}

.hero{
    height: calc(100vh - 70.5px);
    padding: 0;
    display: flex;
    align-items: center;
}   

.hero .wrapper{
    padding: 0 140px;
    width: 100%;
    margin-bottom: 70.5px;
    max-width: unset;
    justify-content: center;
}

.home-section.front-section {
    background-color: rgba(0,0,0,0);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1620px;
    margin: 0 auto;
}

.front-section .wrapper {
    flex-direction: row;
}

.home-custom-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    /* margin-left: 40px; */
}

.horizontal-container {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    width: fit-content;
    white-space: nowrap;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    margin-left: 3px;
}

.front-section .logo {
   width: 47px;
   margin-top: 5px;
}

.soceity-name {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
}

.college-name {
    font-size: 18px;
    font-weight: 300;
    color: #656C73;
}

.front-section .soceity-info {
    width: 80%;
    font-size: 20px;
    color: #929292;
    font-weight: 300;
    line-height: 26.5px;
    margin-top: 30px;
}

.front-section a.lets-connect-button {
    display: grid;
    place-items: center;
    color: #4285F4;
    border: 1.5px solid #4285F4;
    width: fit-content;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    padding: 10px 15px;
    transition: all 0.2s ease;
}
.front-section a.lets-connect-button:hover{
    background-color: #4285F4;
    color: white;
}

.home-section .heading {
    position: relative;
    font-size: 34px;
    font-weight: 500;
}

.wwd-section .heading::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    height: 1px;
    width: 80px;
    background-color: black;
    transform: translateX(-50%);
}

.home-section lottie-player {
    width: 80%;
    height: 100%;
    max-width: 670px;
    min-width: 530px;
}


.wwd-section .heading {
    text-align: center;
    margin-bottom: 50px;
}

.home-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 66px;
}

.home-card {
    display: flex;
    flex-direction: column;
    width: 24vw;
    max-width: 480px;
    min-width: 300px;
    margin: 20px 0;
    border-radius: 5px;
}

.wwd-section .home-card {
    align-items: center;
}

.wwd-section .home-card lottie-player {
    width: 90px;
    height: 90px;
    margin-bottom: 9px;
    max-width: unset;
    min-width: unset;
}

.wwd-section .home-card.Code lottie-player{
    transform: scale(1.3);
}

.wwd-section .home-card .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.wwd-section .home-card .content {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    line-height: 24px;
}

.efp-section .home-card {
    transition: all 0.3s ease;
    padding: 20px;
    user-select: none;
    border: 1px solid rgb(231, 231, 231);
}

.efp-section .home-card .img {
    height: 18vw;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.efp-section .home-card .title {
    font-size: 22px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 7px;
}

.efp-section .home-card .content {
    font-size: 16px;
    color: #929292;
    font-weight: 300;
    line-height: 23px;
    margin-bottom: 7px;
}

.efp-section .home-card .arrow {
    font-size: 30px;
    color:rgb(0, 81, 255);
    align-self: flex-end;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.efp-section .home-card:hover{
    transform: scale(1.015);
}

.efp-section .home-card:hover .arrow{
    transform: translateX(10px);
}

.contacts-section {
    padding-top: 110px;
}

.contacts-section .info {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    margin-top: 12px;
}

.contacts-section .icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 30px;
    width: 200px;
    font-size: 25px;
    margin: 30px 0;
    color: #4285F4;
}

.contacts-section .icons * {
    cursor: pointer;
    transition: all 0.3s ease;
}

.contacts-section .icons > *:hover {
    transform: scale(1.08);
}


.home-section.events-section {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.home-section.events-section .wrapper {
    position: relative;
    flex-direction: row;
    padding: 80px 100px;
    padding-top: 140px;
    background-color: #F8F8F8;
    max-width: unset;
    justify-content: center;
}


.home-triangle-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200px;
    border-top: white solid 130px;
    border-left: transparent solid 100vw;
}

.home-triangle-box-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 200px;
    border-bottom: white solid 20px;
    border-left: transparent solid 100vw;
}


.home-events-inner-container {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    max-width: 1620px;
}

.home-section.events-section .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.home-section.events-section .title {
    font-size: 32px;
    font-weight: 400;
}

.home-section.events-section .info {
    font-size: 21px;
    line-height: 27px;
    width: 60%;
    color: #505050;
    font-weight: 300;
}

.home-section.events-section a.home-know-more-btn {
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: 18px;
    font-weight: 100;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 10px 18px;
    border: 1.5px solid black;
    width: fit-content;
}

.home-section.events-section a.home-know-more-btn:hover {
    background-color: transparent;
    color: black;
}

.home-events-host {
    font-size: 18px;
    color: #505050;
    line-height: 24px;
    font-weight: 300;
}

.home-events-host a {
    color: #505050;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.3s ease;
}

.home-events-host a:hover {
    letter-spacing: 0.1px;
}
.home-events-image {
    z-index: 1;
    margin-top: 20px;
    width: 43vw;
    max-width: 620px;
    object-fit: contain;
}

@media screen and (min-width:1630px) {
    .front-section .soceity-info {
        width: 60%;
    }
}

@media screen and (max-width:1280px) {
    .hero .wrapper{
        padding: 0 100px;
        padding-right: 70px;
    }

    .home-section.events-section .info {
        width: 90%;
    }
    
}

@media screen and (max-width: 1100px) {

    .hero{
        height: auto;
    }

    .front-section .wrapper {
        justify-content: center;
    }
    .front-section .home-custom-container > .horizontal-container {
        flex-direction: column;
        text-align: center;
    }
    .front-section .home-custom-container {
        align-items: center;
        margin-left: 0;
    }
    .front-section .soceity-info {
        text-align: center;
    }
    .front-section lottie-player {
        display: none;
    }
    .home-section.front-section {
        padding: 70px 0;
    }
    .home-events-image {
        width: 460px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .horizontal-container {
        align-items: center;
        gap: 7px;
    }
    .home-events-inner-container .content{
        width: 100%;
    }
    .home-section.events-section .info {
        width: 50%;
    }
    .home-events-host{
        width: 30%;
    }
}

@media screen and (max-width: 900px) {
    .home-triangle-box{
        border-top-width: 30px;
    }
    .home-triangle-box-2{
        border-bottom-width: 20px;
    }
    .home-section.events-section .wrapper{
        padding: 70px 0;
    }
    .home-events-inner-container .content{
        align-items: center;
        text-align: center;
    }
    .info {
        width: 100%;
    }
    .home-events-image {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .home-section {
        padding-left: 0;
        padding-right: 0;
    }
    .front-section .soceity-info {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .wwd-section .heading {
        font-size: 26px;
        margin: 0;
    }
    .home-section.wwd-section div.content {
        font-size: 16px;
    }
    .front-section .soceity-name {
        font-size: 20px;
    }
    .front-section .college-name {
        font-size: 14px;
    }
    .home-section .home-card {
        width: 250px;
        margin-left: 0;
        margin-right: 0;
    }
    .contacts-section .heading {
        font-size: 30px;
    }
    .contacts-section .info {
        font-size: 16px;
    }
}