* {
    font-family: "Barlow";
}

.home-section {
    width: 100vw;
    padding: 70px;
    background-color: #fff;
}

.front-section {
    background-color: rgba(0,0,0,0);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.front-section .wrapper {
    flex-direction: row;
}

.home-custom-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.horizontal-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.front-section .logo {
    height: 30px;
    width: 60px;
}

.soceity-name {
    font-size: 26px;
}

.college-name {
    font-size: 18px;
}

.front-section .soceity-info {
    width: 60%;
    font-size: 16px;
}

.front-section a.lets-connect-button {
    display: grid;
    place-items: center;
    color: #4285F4;
    border: 1px solid #4285F4;
    height: 34px;
    width: 120px;
    font-size: 14px;
    font-weight: 400;
}

.home-section .heading {
    font-size: 34px;
    font-weight: 500;
}

.wwd-section .heading {
    margin-bottom: 50px;
}

.home-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px 50px;
    border-radius: 5px;
}

.wwd-section .home-card {
    align-items: center;
}

.wwd-section .home-card img {
    width: 60px;
    height: 60px;
}

.wwd-section .home-card .title {
    font-size: 20px;
    font-weight: 500;
}

.wwd-section .home-card .content {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.efp-section .home-card {
    padding: 20px;
    border: 1px solid rgb(231, 231, 231);
}

.efp-section .home-card .title {
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
}

.efp-section .home-card .content {
    font-size: 16px;
}

.efp-section .home-card .arrow {
    font-size: 30px;
    color:rgb(0, 81, 255);
    align-self: flex-end;
    margin: 0 10px;
    cursor: pointer;
}

.contacts-section {
    padding-top: 0;
}

.contacts-section .info {
    font-size: 18px;
}

.contacts-section .icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 30px;
    width: 200px;
    font-size: 25px;
    margin: 20px 0;
    color: #4285F4;
}