.navbar {
    font-size: 1.6rem;

    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
}

.navbar,
.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 10;
}

.navbar-container {
    width: 85%;
    justify-content: space-between;
    padding: 1em 0;
    position: relative;
}
.navbar-logo {
    display: flex;
    gap: 8px;
    align-items: center;
}
.navbar-logo img {
    height: 1.6em;
}
.navbar-logo-text {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-weight: medium;
}
.navbar-logo-text span:nth-child(2) {
    font-size: 0.8em;
    opacity: 0.6;
}
.navbar-links {
    display: flex;
    gap: 16px;
    overflow: hidden;
    font-size: 1em;
}

.navbar-links > div {
    padding: 4px 2px;
    position: relative;
    z-index: 5;
}
.navbar-links > .active-link::after {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: var(--google-blue);
    border-radius: 99px;
}
.navbar-container > svg {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 2.4rem;
}

@media only screen and (max-width: 800px) {
    .navbar-container > svg {
        display: block;
    }
    .navbar-container {
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 1.5rem;
    }
    .navbar-logo-text {
        display: none;
    }
    .navbar-logo img {
        margin-left: 2.4rem;
    }
    .navbar-links {
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
        background-color: white;
        width: 100%;
        gap: 0;
        max-height: 0;
        flex-direction: column;
        transition: max-height 0.2s ease-in-out;

        -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
    }
    .navbar-links.expanded {
        max-height: 50vh;
    }
    .navbar-links > .active-link::after {
        display: none;
        /* width: 100%; */
    }
    .navbar-links > .active-link {
        background-color: #f2f2f2;
        /* color: var(--google-blue); */
    }
    .navbar-links > div {
        text-align: center;
        padding: 1em 0;
    }
}
