@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: #f4f4f7;
  background-image: url("../../Assets/Images/bg.png");
}

.super {
  font-family: "Barlow";
  margin-top: 5rem; /*  to be removed after nav */
}

.eventsContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  column-gap: 50px;
  row-gap: 30px;
}

.container {
  width: 30rem;
  margin: 0 auto;
  height: auto;
  padding-bottom: 1rem;
  /* left: 534px;
    top: 933px; */
  border-radius: 10px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  background-color: white;
}

h1 {
  /* font-size: 3em; */
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
}
.content {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.heading {
  /* width: 246px;
    height: 25px;
    left: 538px;
    top: 633px; */
  padding: 10px 20px 0 10px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 21px;
  line-height: 21px;
  margin-top: 1rem;
  /* or 88% */
  line-height: 2.5rem;
  margin-bottom: 1.5rem;

  color: #000000;
}

img {
  width: 100%;

  max-height: 19rem; /* height: 229px;
    left: 533px;
    top: 383px; */
  border-radius: 10px 10px 0px 0px;
}

.date {
  /* width: 98px;
    height: 21px;
    left: 558px;
    top: 666px; */
  padding: 4px 20px 20px 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height, or 162% */

  text-align: center;

  color: #656c73;
}

.location {
  display: flex;
  flex-direction: row;
}

.locationContent {
  /* width: 46px;
height: 21px;
left: 600px;
top: 713px; */
  padding-left: 10px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #656c73;
}

.locationIcon {
  /* width: 32px;
height: 28px;
left: 558px;
top: 705px;  */
  padding-left: 10px;
}

.ticket {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.calendar {
  color: #656c73;
}
.pin {
  color: #656c73;
}
.ticketContent {
  padding-left: 10px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  /* identical to box height, or 150% */
  margin-bottom: 1rem;

  text-align: center;

  color: #656c73;
}

.ticketIcon {
  padding-left: 10px;
}

.buttonContainer {
  text-align: center;
  display: flex;
  margin-bottom: 1rem;
}

.button1 {
  margin: 5px;
  margin-right: 2rem;
  box-sizing: border-box;
  padding: 0.5rem 3rem 0.5rem 3rem;
  /* left: 606px;
    top: 794px; */
  transition: all 0.3s ease;

  border: 2px solid #4285f4;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
}

.buttonText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 21px;
  /* or 105% */

  text-align: center;

  color: #4285f4;
}
.buttonText2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 21px;
  /* or 105% */

  text-align: center;

  color: white;
}
.button2 {
  margin: 5px;
  margin-right: 2rem;
  box-sizing: border-box;
  border: 2px solid #4285f4;

  padding: 0.5rem 3rem 0.5rem 3rem;
  cursor: pointer;
  /* left: 606px;
    top: 794px; */
  border-radius: 8px;
  background-color: #4285f4;
  transition: all 0.3s ease;
}

.button1:hover {
  background-color: #f0f0f0;
}
.button2:hover {
  background-color: #72a3f3;
  border: 2px solid #72a3f3;
}

.eventHeading{
  display: flex;
  justify-content: center;
}

h2{
  padding:3px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  
}

h2:hover{
  cursor: pointer;
}

.eventChange{
  text-decoration: underline;
  text-decoration-color: #4285f4;
  text-decoration-thickness: 3px;
  
}

@media screen and (max-width: 920px) {
  .eventsContainer {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 600px) {
  .eventsContainer {
    grid-template-columns: auto;
  }
  .heading {
    font-size: 22px;
  }
  h1 {
    font-size: 35px;
  }
}
